
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Appointment Detail</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">

<h2 class="mt-4">Appointment Detail</h2>

<div class="card p-3">

<p><b>Doctor ID:</b> <span th:text="${appointment.doctorId}"></span></p>
<p><b>Patient:</b> <span th:text="${appointment.patientName}"></span></p>
<p><b>Age:</b> <span th:text="${appointment.age}"></span></p>
<p><b>Phone:</b> <span th:text="${appointment.phone}"></span></p>
<p><b>Date:</b> <span th:text="${appointment.date}"></span></p>
<p><b>Time:</b> <span th:text="${appointment.time}"></span></p>
<p><b>Note:</b> <span th:text="${appointment.note}"></span></p>

</div>

</body>
</html>
